@import "_variables"

.chart
  svg
    fill: $theme
    stroke: $theme

  text
    stroke-width: 0

  path.line
    fill: none
    stroke-width: 1.8px

  path.line.objective
    stroke-dasharray: 2, 3
    stroke-width: 1px
    opacity: 0.8

  .axis
    font-size: 16px

  .axis path
    stroke-width: 0.5px
    fill: none
  .axis.y path
    stroke-width: 0
  .axis.y .tick line
    opacity: 0.1
  .axis.y g:first-of-type text
    opacity: 0


  .axis.x .tick line
    opacity: 0.35

  .axis.x
    g:first-of-type line
      opacity: 0
    g:last-of-type line
      opacity: 0
  .axis.x text.objective
    font-weight: 400

  circle
    fill: white
    stroke-width: 1.5
  circle:first-of-type
    fill: $theme
