@import "_variables"

/* Stiziles */

html, body
  background: #fff
  font-family:'Fira Sans'

h2
  font-size: 28px
  font-weight: 300

a
  color: $darker-theme
/* main */

.main
  width: 100%
  height: 100%
  background: #fff
  color: #333

article
  width: 65%
  margin: 0 auto
  text-align: center
  font-weight: 300
  //border-right: 1px solid #16A085
  //border-left: 1px solid #16A085
  //box-shadow: 2px 4px 30px rgba(#000, 0.16)

.article-header
  background: $theme
  color: white
  width: 100%
  text-align: center
  padding-top: 1%

  .title

    h1
      font-weight: 200
      font-size: 56px
      margin-top: 25px
      margin-bottom: 35px
      display: inline-block
    .decoration
      display: inline-block
      padding-right: 15px
      padding-left: 30px
    .decoration img
      width: 80px
    .date
      color: $darker-theme
      font-size: 18px
      font-weight: 300
      letter-spacing: 0
      margin-bottom: 10px
      position: relative
      top: 32px
      left: -116px

    .number-circle
        position: relative
        top: 30px
        left: -110px
        border-radius: 50%
        font-size: 12px
        padding: 5px 8px 2px 8px

        background: $darker-theme
        color: $theme
        text-align: center

        font-weight: 800
        cursor: pointer

    .number-circle:hover
        background: white

article ul
  list-style: none


article li
  font-size: 23px
  color: #222
  margin-top: 8%
  margin-bottom: 12%

article .chart
  margin-top: 4%

article q::before
  font-size: 35px
  vertical-align: -6px
  line-height: 0px

article q::after
  font-size: 35px
  vertical-align: -6px
  line-height: 0px

article em
  color: $theme
  font-style: normal
  font-weight: 500
article #footer
  margin-bottom: 10px
