@import "_variables"

/* Stiziles */

html, body
  background: #fff
  font-family:'Fira Sans'


/* main */

.main
  width: 100%
  height: 100%
  background: #fff
  color: #333

article
  width: 65%
  margin-left: 50%
  transform: translateX(-50%)
  text-align: center
  font-weight: 300


article
  .title
    display:-moz-box
    display:-webkit-box
    display:box
    margin-top: 30px
  .title h2
    color: $theme
    font-weight: 300
    font-size: 38px
    letter-spacing: -0.02em
    margin-top: 0
  .title .decoration
    text-align: center
    width: 60px
    margin-top: 8px
    margin-right: 10px
  .title .decoration img
    margin-left: 15px
    margin-right: 15px
    width: 40px
    margin-bottom: -2px
  .title .decoration .date
    color: $theme
    font-size: 10px
    line-height: 9px
    position: relative
    bottom: 10px
    font-weight: 400
    letter-spacing: 0

article ul
  list-style: none


article li
  font-size: 23px
  color: #222
  margin-top: 8%
  margin-bottom: 10%

article .chart
  margin-top: 4%

article q::before
  font-size: 35px
  vertical-align: -6px
  line-height: 0px

article q::after
  font-size: 35px
  vertical-align: -6px
  line-height: 0px

article em
  color: $theme
